/** ------------ MAIN MENU --------------------*/
nav {
	/*text-align: center;*/
	height: 31px;
	/*padding-left: 210px;*/
}

#m_6 {
	display: none !important;
}

#main_menu {
	/*border-top: 2px solid #4590FF;*/
	/*border-left: 2px solid #4590FF;*/
	/*border-right: 2px solid #2828FB;*/
	/*border-bottom: 2px solid #2828FB;*/
	/*background: white url(bg.gif) repeat-x left top;*/
	background: #FFFFF5;
	z-index: 3;
	position: relative;
}

#main_menu > ul {
	/*padding: 6px 0px 5px 0px;*/
	margin: 0px;
}

#main_menu > ul > li {
	position: relative;
	display: inline-block;
	/*margin: 0 5px 0 0px;*/
	/*margin-right: -6px;*/
	/*height: 31px;*/
	float: left;
	line-height: 31px;
	vertical-align: middle;
	/*border-left: 1px solid #bcbcbc;*/
	/*border-right: 1px solid #bcbcbc;*/
	background: url(../images/vline.png) no-repeat 100% 0%;
}

#main_menu > ul > li:last-child > a {
	color: black;
}

#main_menu > ul > li:last-child {
	float: right;
	background: url(../images/vline.png) no-repeat 0% 0%, url(../images/vline.png) no-repeat 100% 0%;
	/*margin: 0;*/
}

#main_menu > ul > li:nth-child(2) {
	background: url(../images/vline.png) no-repeat 0% 0%, url(../images/vline.png) no-repeat 100% 0%;
}
#main_menu > ul > li > a {
	height: 31px;
	display: block;
	/*border-radius: 3px;*/
	font-family: "Liberation Serif", serif;
	color: #000;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 8px;
	border: 0px transparent solid;
}

#main_menu > ul > li.active > a, #main_menu > ul > li.active > a:hover {
	/*color: #F5FF83;*/
	background-color: #585858;
	text-decoration: none;
	/*border-top: 2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid white;
	border-bottom: 2px solid white;*/
}
#main_menu > ul > li.active > a {
	background: #747474;
	color: #fff;
}
#main_menu > ul > li > a:hover, #main_menu > ul > li:hover > a {
	color: #fff;
	/*box-shadow: 0 3px 10px 3px gray;*/
	background-color: #585858;
}

.exitname {
	color: #9d9d9d;
}

#main_menu > ul > li:last-child > a:hover {
	color: red;
}

#main_menu > ul > li:last-child > a:hover > .exitname {
	color: #fff;
}

/*img {
       display: inline;
}*/
/*-----------------------main menu----------------***/

/*-----------------------SUB-MENU----------------***/

.sub_menu {
	z-index: 888;
	/*margin: 7px;*/
	/*padding-top: 60px;*/
	/*display: block;*/
	/*margin: 0 -3px;*/
	list-style: none;
	padding: 5px 15px 5px 10px;
	border-radius: 5px;
	border-radius: 0 0 5px 5px;
	/*display: none;*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	/*top: 35px;*/
	background: #CEECF5;
	min-width: 160%;
	box-shadow: 2px 8px 30px 3px black;
	transition: all .2s ease-in-out;
}

#main_menu > ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
	/*margin: 0;*/
}

.sub_menu > li {
	/*display: block;*/
	line-height: 20px;
	width: 95%;
	white-space: nowrap;
	padding: 0 4px 0 10px;
	/*padding-right: 4px;*/
	border-radius: 5px;
	border-bottom: 1px solid #bcbcbc;
}

.sub_menu > li > a {
	display: inline-block;
	width: 100%;
	color: #000;
	background-color: transparent;
	/*font-size: 14px;*/
	line-height: 20px;
	padding: 7px 10px;
	font-weight: bold;
	text-decoration: none;
	/*padding: 21px 10px;*/
}

/*---------------*/
.sub_menu > li:hover {
	text-decoration: none;
	/*padding-left: 3px;*/
	box-shadow: 2px 2px 20px 5px #3A3C3D;
}

.sub_menu > li:hover {
	transition: 0.2s;
	padding-left: 15px;
	padding-right: 0px;
	background-color: #FFF;
	color: #000;
}

.sub_menu > li:hover a {
	color: #000;
	text-decoration: underline;
}