.page_head {
	/* margin: auto; */
	/* width: 97%; */
	background: #cfcfcf;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	height: 70px;
}
.doc_title {
	text-align: center;
	/*float: right;*/
	color: #969696;
	font-weight: bold;
	font-size: 4em;
	margin: 0 20px;
}
.cell.empty {
	background: rgba(255, 0, 0, 0.36);
}
.page_caption {
	margin-top: 20px;
	text-align: right;
}