/*.write_off_doc_button, .edit_doc_button, .del_doc_button,  .print_doc_button {*/
.buttons button {
	cursor:pointer;
	width: 25px;
	height: 25px;
	border: none;
	margin-left: 5px;
}
.write_off_doc_button {
	background:url(../../../images/write_off.png) no-repeat;
}
.ttn_doc_button {
	background:url(../../../images/doc_50x25.png) no-repeat;
}
.del_doc_button {
	background:url(../../../images/del.png) no-repeat;
}
.edit_doc_button {
	background:url(../../../images/edit.png) no-repeat;
}
.print_doc_button {
	background:url(../../../images/print.png) no-repeat;
	margin-right: 5px;
}
.cennic_doc_button {
	background:url(../../../images/cennik_25x50.png) no-repeat;
	margin-right: 8px;
}
.buttons button:hover {
	background-position: 100% 0%;
}
/*----------------------------------------------------------------------------------*/
/*------------------- PARENT TABLE -------------------------------------------*/
.parent {
	/*background-color: #efefef;*/
	/*border-collapse: collapse;*/

}
.parent_header th{
	background-color: #efefef;
	height: 30px;
	border: 1px solid #000;
}
/*.p_caption_0,.p_caption_1,.p_caption_2 {
	width: 80px;
	text-align: right;
}*/

.p_cell_0, .p_cell_1 {
	/*font-weight: bold;*/
	text-align: center;
	width: 100px;
}
.p_cell_2 {
	width: 550px;
	padding-left: 10px;
}
.p_cell_3 {
	width: auto;
}

.hidden {
	display: none;
}

.hidden {
	display: none;
}
.parent {
	width: 100%;
	border-collapse: collapse;
}
.parent tr {
	height: 25px;
	background-color: #ffffe0;
	cursor: pointer;
}
.parent tr:hover {
	background-color: #99FF99;
}
.parent td {
	border: 1px solid #BEBEBE;
	padding: 1px 5px;
}
.parent td.r {
	text-align: right;
}
.parent td.l {
	text-align: left;
}
.parent td.c {
	text-align: center;
}
.parent_group td{
	background: #fff;
	border: none;
	text-align: center;
}
/*----------------------------------------------------------------------------------*/
/*------------------- CHILD TABLE --------------------------------------------*/
.child_row td{
	/*position: relative;*/
	/*background-color: green;*/
	padding: 2px;
	padding-bottom: 10px;
	/*border: 1px solid black;*/
}
.buttons {
	position: absolute;
	/*margin-top: -27px;*/
	/*margin-right: 3px;*/
	height: 25px;
	/*float: right;*/
	top: 4px;
	right: 4px;
	border-radius: 5px;
	padding: 5px;

	background: #FFFFFF;
	border: 1px solid silver;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
/*----------------------------------------------------------------------------------*/
.doc_hat td {
	position: relative;
	background-color: #ccffff;
	/*position: relative;*/
	border: 1px solid black;
}
.doc_hat .capt { /*span */
	display: inline-block;
	width: 100px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
}
.child th {
	background-color: #cfcfcf;
	padding: 2px;
	margin: 0;
}
.doc_hat td{
	cursor: pointer;
}
.child tr {
	cursor: default;
	height: 16px;
	background-color: #fff;
}
.child td, .child th {
	border: 1px solid gray;
	padding: 2px 4px!important;
}

.child {
	font-size: 10pt;
	font-family: monospace;
	word-wrap: break-word;
	/*margin-left: 30px;*/
	padding: 2px 2px 10px 2px;
	/*border-collapse: separate;*/
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	background-color: #ccffff;
}
.child tr:hover {
	background-color: #D0FFD4;
}
.child .selected {
	background: #FF9494;
}
.child .selected:hover {
	background: #FF6B6B;
	color: #fff;
}
.child:hover {
	border-color: red;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.cell.r {
	text-align: right;
}
.cell.l {
	text-align: left;
}
.cell.c2 {
	text-align: left;
}

tr.empty td {
	background: none  !important;
	padding: 1px !important;
}
tr.empty {
	font-size: 0.7em;
	color: #bcbcbc;
}

.cell>a {
	text-decoration: none;
	color: #00f;
}
.cell>a:hover {
	text-decoration: underline;
}