@media print {
	.pbreak {
		page-break-before: always;
	}
	br {
		page-break-before: always;
	}
}
/*--------------------------------------------------------------*/
.p {
	/*width: 200mm;*/
}
.cennik div {
	font-family: "Liberation Serif";
	/*border: 1px solid blue;*/
}
.cennik {
	position: relative;
	display: inline-block;
	width: 371px;
	/*width: 45%;*/
	height: 342px;

	float: left;
	background: url("../../images/cennik.png") no-repeat;
}
.mag {
	padding-top: 10px;
	padding-left: 100px;
	font-size: 19px;
	text-align: center;
}
/*.line {*/
	/*border-bottom: 1px solid #000;*/
	/*padding-left: 150px;*/
/*}*/
.id_goods {
	text-align: center;
	padding-left: 100px;
	height: 20px;
	font-size: 10px;
}
.ttn {
	padding-left: 100px;
	text-align: center;
	font-size: 14px;
	height: 50px;
}
.name {
	color: red;
	text-align: center;
	/*font-size: 27px;*/
	display: table-cell;
	height: 162px;
	vertical-align: middle;
	font-weight: bold;
	padding: 0 10px;
	width: 352px;
}
.f30 {
	font-size: 30px;
	line-height: 32px;
}
.f32 {
	font-size: 32px;
	line-height: 34px;
}
.f38 {
	font-size: 38px;
	line-height: 39px;
}
.f45 {
	font-size: 45px;
	line-height: 45px;
}
.f55 {
	font-size: 55px;
	line-height: 55px;
}
.price span {
	font-size: 0.5em;
}
.price {
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: -10px;
	/* width: 100%; */
	padding: 20px;
	font-size: 52px;
	/* float: right; */
	color: #00f;
	width: 290px;
	text-align: center;
}
.producer {
	position: absolute;
	bottom: 13px;
	right: 16px;

}