
table.usr {
    width: 100%;
    border-collapse: collapse;
}

table.usr th, table.usr  td {
    /*word-wrap: normal;*/
    white-space: nowrap;
    /*border: 1px solid gray;*/
    padding: 2px 5px 2px 5px;
}
th, td {
	border: 1px solid gray;

}
/* ТТН */
table.spec td, table.spec2 td {
	width: 0.17cm;
}
table.spec2 td {
	height: 10px;
}


/*-------------------------------------------------------------------------------------------------------------------*/
@page {
	size: landscape;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.page {
	/*page-break-after:always*/
}
.page.deliverynote {
	/*border: 1px solid red;*/

	/*width: 283mm;*/
	/*height: 192mm;*/
}
.deliverynote.p1 {
	/*margin-left: 15mm;*/
	padding-right: 0mm;
}
.deliverynote.p2 {
	padding-left: 0mm;
	/*padding-right: 15mm;*/
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/