table {
	border-collapse: collapse;
	/*font-size: 10px;*/
	width: 100%;
	font-size: 10px;
}
tr td:first-child {
	width: 50px;
}
tr td:last-child {
	width: 100px;
}
th {
	white-space: normal;
}
td {
	white-space: nowrap;
}
.report_title {
    font-size: 18px;
    text-align: center;
	margin: 10px;
}
.report_title  div {
/*//    float: right;*/
    display: inline;
    /*margin: 10px 15px 10px 15px;*/
}
th, td {
	border: 1px solid gray;
	padding: 2px 5px;
}


tr.r td, tr.l td.r, td.r {
	text-align: right;
}

tr.l td, tr.r td.l, td.l {
	text-align: left;
}

tr.c td, td.c {
	text-align: center;
}
table.no_border td, tr.no_border td, td.no_border, table.no_border tr.no_border td{
	border: none;
}

col.r {
	text-align: right;
}
.itog {
	font-weight: bold;
}

.sub_title {
	margin-top: 20px;
	margin-bottom: 7px;
	font-size: 14px;
	text-align: center;
}

.rekvizit {
	margin-bottom: 20px;
}

@media print {
	.more {
		/*page-break-after: always;*/
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/
body {
	/*background-color: #bcbcbc;*/
}
.page {
	margin: auto;
	background-color: #fff;
	/*page-break-after: always;*/
}
.page.l {
	width: 290mm;
	/*height: 210mm;*/
}
.page.p {
	width: 210mm;
	/*height: 290mm;*/
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/