table {
    width: 100%;
    border-collapse: collapse;
}
.report_title {
    font-size: 1.3em;
    text-align: center;
}
.report_title  div {
/*//    float: right;*/
    display: inline;
    /*margin: 10px 15px 10px 15px;*/
}

th, td {
    /*word-wrap: normal;*/
    white-space: nowrap;
    border: 1px solid gray;
    padding: 2px 5px 2px 5px;
}

td.r {
	text-align: right;
}

td.l {
	text-align: left;
}
td.c {
	text-align: center;
}
td.no_border {
	border: none;
}

.itog {
	font-weight: bold;
}

.sub_title {
	margin-top: 20px;
	margin-bottom: 7px;
	font-size: 1.2em;
	text-align: center;
}

