#edit {
	display: none;
	border: 2px solid red;
	padding: 2px 5px;
	position: absolute;
	box-shadow: 0 0 5px 3px gray;
}
/*---------------------------------------------------*/
.editRest {
	position: relative;
	margin: auto;
	/*border: 1px solid silver;*/
	border-collapse: collapse;

	width: 100%;
	/*border: 1px #D0E3EF solid;*/
	/*background: white;*/

}

.editRest td {
	border: 1px solid silver;
	padding: 2px 5px;
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;

}

.editRest tr:nth-child(odd) {
	background: #E5F1F4;
}

.editRest tr:nth-child(even) {
	background: #F8F8F8;
}


.editRest tr:hover {
	background: #9f9;
}
.editRest tr.modified_tr:hover, .editRest tr:nth-child(even).modified_tr:hover {
	background: #CCCC33;
}
.r {
	text-align: right;
}
/*-----------------------------------------------------*/
.modified_td {
	color: #f00;
	/*font-weight: bold;*/
	font-style: italic;
}
.editRest tr:nth-child(even).modified_tr, .modified_tr {
	background: yellow;
}
/*-----------------------------------------------------*/
.editRest td.buttons {
	padding: 0 5px ;
	border: 0px solid #f00;
	background: #fff;
	width: 50px;
}
.save_row {
	display: none;
	background: url(../../../images/widgets/editTable/save.png) no-repeat;
	cursor: pointer;
	border: none;
	height: 20px;
	width: 20px;
}
tr.modified_tr .save_row {
	display: inline-block;
}
.save_row:hover {
	background: url(../../../images/widgets/editTable/save.png) no-repeat 100% 0%;
}
/*-----------------------------------------------------*/
.cancel_row {
	display: none;
	background: url(../../../images/widgets/editTable/cancel.png) no-repeat;
	cursor: pointer;
	border: none;
	height: 20px;
	width: 20px;
}
tr.modified_tr .cancel_row {
	display: inline-block;
}
.cancel_row:hover {
	background: url(../../../images/widgets/editTable/cancel.png) no-repeat 100% 0%;
}
/*-----------------------------------------------------*/
td a {
	color: #000;
}
td a:hover {
	color: #00f;
}
/*-----------------------------------------------------*/
td[ro=false] {
	cursor: pointer;
}
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

.del_row {
	cursor:pointer;
	width: 16px;
	height: 16px;
	border: none;
	/*margin-left: 5px;*/
}
.del_row {
	background:url(../../../images/del_krest.png) no-repeat;
	background-position: 100% 0;
	background-size: 200%;
}
.del_row:hover {
	background-position: 0 100%;
}

table th {
	color: white;
	background: url(../../../images/bg.gif) repeat-x scroll left top white;
	text-align: center;
	height: 25px;
	border: 1px solid #fff;
}
table th a {
	color: #eee;
	text-decoration: none;
}
table th a:hover {
	color: #fff;
}